@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */
body {
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font-family: 'Dancing Script', cursive; }
  body h2 {
    font-family: 'Dancing Script', cursive; }

.header-background {
  background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
  background-size: cover;
  background-position: center; }

header div div img {
  width: 60%;
  height: 60%;
  padding: 10px;
  margin: 10px; }

header div nav ul {
  font-size: small;
  gap: 10px; }
  header div nav ul li:hover {
    background-color: #7d50487c;
    border-radius: 1rem;
    padding: .3125rem; }

@media (min-width: 375px) {
  header div div img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: small;
    gap: 10px; } }

@media (min-width: 428px) {
  header div div img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: medium;
    gap: 1.25rem; } }

@media (min-width: 768px) {
  header div div img {
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: medium;
    gap: 1.25rem; } }

@media (min-width: 1024px) {
  header div div img {
    width: 25%;
    height: 25%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: large;
    gap: 1.25rem; } }

.contenedor-map-texto, .contenedor-formulario-texto {
  border-radius: 20px;
  background-color: #e3c0ba4d;
  padding: 2rem;
  margin: 10px 65px 10px 65px; }

iframe {
  border-radius: 20px; }

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedor-formulario button {
    font-size: 20px;
    background-color: #7d50487c;
    border-radius: 15px;
    width: 75%;
    align-self: center;
    margin: 10px; }
    .contenedor-formulario button:hover {
      background-color: #484c7d7c; }

@media (min-width: 1024px) {
  .mapa-formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; }
  .contenedor-map, .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 50%;
    margin: 20px 0px 20px 0px; }
  form {
    width: 90%;
    margin-bottom: 40px; } }

footer {
  background-color: #7d50487c; }
  footer div div div a img {
    width: 10rem;
    height: 10rem;
    padding: 10px;
    margin: 10px; }

.card-background {
  background-color: #e3c0ba4d; }

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.review-card-foto {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 10px;
  padding: 10px; }
