@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */
body {
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font-family: 'Dancing Script', cursive; }
  body h2 {
    font-family: 'Dancing Script', cursive; }

.header-background {
  background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
  background-size: cover;
  background-position: center; }

header div div img {
  width: 20%;
  height: 20%;
  padding: 10px;
  margin: 10px; }

header div nav ul {
  font-size: smaller;
  gap: 10px; }
  header div nav ul li:hover {
    background-color: #7d50487c;
    border-radius: 1rem;
    padding: .3125rem; }
