@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */
body {
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font-family: 'Dancing Script', cursive; }
  body h2 {
    font-family: 'Dancing Script', cursive; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 14px; }

p {
  font-size: 12px; }

.card-body blockquote p {
  font-size: 15px; }

form div label {
  font-size: 15px; }

form div input::placeholder {
  font-size: 12px; }

@media (min-width: 320px) {
  h1 {
    font-size: 32px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 25px; }
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 16px; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 12px; }
  .card-body blockquote p {
    font-size: 15px; } }

@media (min-width: 1024px) {
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 28px; }
  h5 {
    font-size: 25px; }
  h6 {
    font-size: 22px; }
  p {
    font-size: 18px; }
  .card-body blockquote p {
    font-size: 18px; } }

.header-background {
  background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
  background-size: cover;
  background-position: center; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0; }

header div div img {
  width: 60%;
  height: 60%;
  padding: 10px;
  margin: 10px; }

header div nav ul {
  font-size: small;
  gap: 10px; }
  header div nav ul li:hover {
    background-color: #7d50487c;
    border-radius: 1rem;
    height: 1.5625rem; }

@media (min-width: 375px) {
  header div div img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: small;
    gap: 10px; } }

@media (min-width: 428px) {
  header div div img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: medium;
    gap: 1.25rem; } }

@media (min-width: 768px) {
  header div div img {
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: medium;
    gap: 1.25rem; } }

@media (min-width: 1024px) {
  header div div img {
    width: 25%;
    height: 25%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: large;
    gap: 1.25rem; } }

.contenedor-map-texto, .contenedor-formulario-texto {
  border-radius: 20px;
  background-color: #e3c0ba4d;
  padding: 2rem;
  margin: 10px 65px 10px 65px; }

iframe {
  border-radius: 20px; }

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedor-formulario button {
    background-color: #7d50487c;
    border-radius: 15px;
    width: 75%;
    align-self: center;
    margin: 10px; }
    .contenedor-formulario button:hover {
      background-color: #484c7d7c; }

@media (min-width: 1024px) {
  .mapa-formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; }
  .contenedor-map, .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 50%;
    margin: 20px 0px 20px 0px; }
  form {
    width: 90%;
    margin-bottom: 40px; } }

.imagen-galeria {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .imagen-galeria img {
    width: 100%;
    height: 100%;
    border-radius: 15px; }
    .imagen-galeria img:hover {
      transform: scale(2);
      transition: transform 2s; }

.galeria {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 15.625rem;
  grid-template-areas: "img1 img2 img3" "img4 img2 img5" "img6 img7 img8" "img9 img7 img10";
  row-gap: 0.3125rem;
  column-gap: 0.625rem;
  justify-content: center;
  margin-top: 3.125rem; }
  .galeria .img1 {
    grid-area: img1; }
  .galeria .img2 {
    grid-area: img2; }
  .galeria .img3 {
    grid-area: img3; }
  .galeria .img4 {
    grid-area: img4; }
  .galeria .img5 {
    grid-area: img5; }
  .galeria .img6 {
    grid-area: img6; }
  .galeria .img7 {
    grid-area: img7; }
  .galeria .img8 {
    grid-area: img8; }
  .galeria .img9 {
    grid-area: img9; }
  .galeria .img10 {
    grid-area: img10; }

@media (max-width: 1024px) {
  .galeria {
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 15.625rem;
    grid-template-areas: "img1 img1" "img1 img1" "img6 img6" "img6 img6" "img2 img2" "img2 img2" "img3 img3" "img3 img3" "img4 img4" "img4 img4" "img5 img5" "img5 img5" "img7 img7" "img7 img7" "img8 img8" "img8 img8" "img9 img9" "img9 img9" "img10 img10" "img10 img10";
    row-gap: 0.3125rem;
    column-gap: 0.625rem;
    justify-content: center;
    margin-top: 3.125rem; }
    .galeria .img1 {
      grid-area: img1; }
    .galeria .img2 {
      grid-area: img2; }
    .galeria .img3 {
      grid-area: img3; }
    .galeria .img4 {
      grid-area: img4; }
    .galeria .img5 {
      grid-area: img5; }
    .galeria .img6 {
      grid-area: img6; }
    .galeria .img7 {
      grid-area: img7; }
    .galeria .img8 {
      grid-area: img8; }
    .galeria .img9 {
      grid-area: img9; }
    .galeria .img10 {
      grid-area: img10; } }

@media (max-width: 425px) {
  .galeria {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr;
    grid-auto-rows: 9rem;
    grid-template-areas: "img1" "img2" "img1" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10";
    row-gap: 0.3125rem;
    column-gap: 0.625rem;
    justify-content: center;
    margin-top: 3.125rem; }
    .galeria .img1 {
      grid-area: img1; }
    .galeria .img2 {
      grid-area: img2; }
    .galeria .img3 {
      grid-area: img3; }
    .galeria .img4 {
      grid-area: img4; }
    .galeria .img5 {
      grid-area: img5; }
    .galeria .img6 {
      grid-area: img6; }
    .galeria .img7 {
      grid-area: img7; }
    .galeria .img8 {
      grid-area: img8; }
    .galeria .img9 {
      grid-area: img9; }
    .galeria .img10 {
      grid-area: img10; } }

footer {
  background-color: #7d50487c; }
  footer div div div a img {
    width: 10rem;
    height: 10rem;
    padding: 10px;
    margin: 10px; }

aside section ul {
  list-style: none; }

aside section ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #e3c0ba71; }

aside {
  padding: 1rem;
  padding-top: 5rem;
  padding-right: 0;
  position: sticky;
  top: 0;
  height: 100vh; }

.boton-menu {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  align-items: center; }

.boton-menu.active {
  background-color: white;
  color: #484c7d7c;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative; }

.boton-menu.active::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: .5rem;
  box-shadow: 0 1rem 0 white; }

.boton-menu.active::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 -1rem 0 white; }

.div-boton-carrito {
  margin-top: 2rem; }

.numerito {
  background-color: #7d50487c;
  color: white;
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem; }

.menu-shop {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.productos-venta {
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  background-color: white;
  padding: 3rem; }

.titulo-principal {
  margin-bottom: 2rem; }

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem; }

.producto-detalles {
  background-color: #e8cdc9;
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem; }

.producto-titulo {
  font-size: 1rem; }

.producto-add {
  border: 0;
  background-color: white;
  padding: 0.4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid white;
  transition: background-color .2s, color .2s; }

.producto-add:hover {
  background-color: #484c7d7c;
  color: white; }

.carrito-vacio,
.carrito-comprado {
  display: none; }

.carrito-productos {
  display: flex;
  flex-direction: column;
  column-gap: 1rem; }

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3c0ba4d;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  margin: 0.5rem; }

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem; }

.carrito-producto small {
  font-size: 0.75rem; }

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: red;
  cursor: pointer; }

.boton-carrito.active {
  background-color: white;
  color: #484c7d7c;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative; }

.boton-carrito.active::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: .5rem;
  box-shadow: 0 1rem 0 white; }

.boton-carrito.active::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 -1rem 0 white; }

.boton-carrito.active .numerito {
  background-color: white;
  color: #7d50487c; }

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; }

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  margin-top: 1.5rem;
  align-items: center; }

.carrito-acciones-vaciar {
  border: 0;
  background-color: #e8cdc855;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #e3c0ba71;
  transition: background-color .2s, color .2s; }

.carrito-acciones-vaciar:hover {
  background-color: #484c7d7c;
  color: #f32e2e; }

.carrito-acciones-derecha {
  display: flex; }

.carrito-acciones-total {
  display: flex;
  justify-content: center;
  background-color: #e8cdc855;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem; }

.carrito-acciones-comprar {
  background-color: #e8cdc9;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #e3c0ba71;
  transition: background-color .2s, color .2s; }

.carrito-acciones-comprar:hover {
  background-color: #484c7d7c;
  color: white; }

.total {
  margin: 0; }

.disabled {
  display: none; }

.card-background {
  background-color: #e3c0ba4d; }

.card {
  overflow: hidden; }
  .card .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card img:hover {
    transform: scale(1);
    transition: transform 2s; }

.review-card-foto {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 10px;
  padding: 10px; }
