@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */
body {
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font-family: 'Dancing Script', cursive; }
  body h2 {
    font-family: 'Dancing Script', cursive; }

.header-background {
  background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
  background-size: cover;
  background-position: center; }

header div div img {
  width: 60%;
  height: 60%;
  padding: 10px;
  margin: 10px; }

header div nav ul {
  font-size: small;
  gap: 10px; }
  header div nav ul li:hover {
    background-color: #7d50487c;
    border-radius: 1rem;
    padding: .3125rem; }

@media (min-width: 375px) {
  header div div img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: small;
    gap: 10px; } }

@media (min-width: 428px) {
  header div div img {
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: medium;
    gap: 1.25rem; } }

@media (min-width: 768px) {
  header div div img {
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: medium;
    gap: 1.25rem; } }

@media (min-width: 1024px) {
  header div div img {
    width: 25%;
    height: 25%;
    padding: 10px;
    margin: 10px; }
  header div nav ul {
    font-size: large;
    gap: 1.25rem; } }

.contenedor-map-texto, .contenedor-formulario-texto {
  border-radius: 20px;
  background-color: #e3c0ba4d;
  padding: 2rem;
  margin: 10px 65px 10px 65px; }

iframe {
  border-radius: 20px; }

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedor-formulario button {
    font-size: 20px;
    background-color: #7d50487c;
    border-radius: 15px;
    width: 75%;
    align-self: center;
    margin: 10px; }
    .contenedor-formulario button:hover {
      background-color: #484c7d7c; }

@media (min-width: 1024px) {
  .mapa-formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; }
  .contenedor-map, .contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 50%;
    margin: 20px 0px 20px 0px; }
  form {
    width: 90%;
    margin-bottom: 40px; } }

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  justify-content: center;
  align-content: center;
  grid-template-areas: "img1 img2 img3" "img4 img2 img5" "img6 img7 img8" "img9 img7 img10";
  column-gap: 10px;
  row-gap: 5px;
  margin-top: 50px; }
  .galeria .img1 {
    grid-area: img1; }
  .galeria .img2 {
    grid-area: img2; }
  .galeria .img3 {
    grid-area: img3; }
  .galeria .img4 {
    grid-area: img4; }
  .galeria .img5 {
    grid-area: img5; }
  .galeria .img6 {
    grid-area: img6; }
  .galeria .img7 {
    grid-area: img7; }
  .galeria .img8 {
    grid-area: img8; }
  .galeria .img9 {
    grid-area: img9; }
  .galeria .img10 {
    grid-area: img10; }

.imagen-galeria {
  width: 100%;
  height: 100%; }
  .imagen-galeria img {
    width: 100%;
    height: 100%;
    border-radius: 15px; }

@media (max-width: 425px) {
  main section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    justify-content: center;
    align-content: center;
    grid-template-areas: "img2" "img1" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10";
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 50px; }
    main section .img1 {
      grid-area: img1; }
    main section .img2 {
      grid-area: img2; }
    main section .img3 {
      grid-area: img3; }
    main section .img4 {
      grid-area: img4; }
    main section .img5 {
      grid-area: img5; }
    main section .img6 {
      grid-area: img6; }
    main section .img7 {
      grid-area: img7; }
    main section .img8 {
      grid-area: img8; }
    main section .img9 {
      grid-area: img9; }
    main section .img10 {
      grid-area: img10; } }

footer {
  background-color: #7d50487c; }
  footer div div div a img {
    width: 10rem;
    height: 10rem;
    padding: 10px;
    margin: 10px; }

.card-background {
  background-color: #e3c0ba4d; }

.card {
  overflow: hidden; }
  .card .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card img:hover {
    transform: scale(2); }

.review-card-foto {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 10px;
  padding: 10px; }
