.carrito-vacio,
.carrito-comprado {
    display: none;
}


.carrito-productos {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}


.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($map: $colors, $key: color1);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    margin: 0.5rem;

}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}


.carrito-producto small {
    font-size: 0.75rem;
}


.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.boton-carrito.active {
    background-color: white;
    color: map-get($map: $colors, $key: color4);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-carrito.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: .5rem;
    box-shadow: 0 1rem 0 white;
}


.boton-carrito.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 -1rem 0 white;

}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    margin-top: 1.5rem;
    align-items: center;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: map-get($map: $colors, $key: color6);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid map-get($map: $colors, $key: color3);
    transition: background-color .2s, color .2s;
}

.carrito-acciones-vaciar:hover {
    background-color: map-get($map: $colors, $key: color4);
    color: rgb(243, 46, 46);
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    justify-content: center;
    background-color: map-get($map: $colors, $key: color6);
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}



.carrito-acciones-comprar {
    background-color: map-get($map: $colors, $key: color5);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid map-get($map: $colors, $key: color3);
    transition: background-color .2s, color .2s;
}

.carrito-acciones-comprar:hover {
    background-color: map-get($map: $colors, $key: color4);
    color: white;

}

.total {
    margin: 0;
}