footer{
    background-color: map-get($map: $colors, $key:color2 );
    div{
        div{
            div{
                a{
                    img{
                        width: 10rem;
                        height: 10rem;
                        padding: 10px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}