.header-background {
    background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
    background-size: cover;
    background-position: center;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    div {
        div {
            img {
                width: 60%;
                height: 60%;
                padding: 10px;
                margin: 10px;
            }
        }

        nav {
            ul {
                font-size: small;
                gap: 10px;

                li {
                    &:hover {
                        background-color: map-get($map: $colors , $key: color2);
                        border-radius: 1rem;
                        height: 1.5625rem;
                    }
                }
            }
        }
    }
}

@media (min-width:375px) {
    header {
        div {
            div {
                img {
                    width: 50%;
                    height: 50%;
                    padding: 10px;
                    margin: 10px;
                }
            }

            nav {
                ul {
                    font-size: small;
                    gap: 10px;
                }
            }
        }
    }
}


@media (min-width:428px) {
    header {
        div {
            div {
                img {
                    width: 50%;
                    height: 50%;
                    padding: 10px;
                    margin: 10px;
                }
            }

            nav {
                ul {
                    font-size: medium;
                    gap: 1.25rem;
                }
            }
        }
    }
}


@media (min-width:768px) {
    header {
        div {
            div {
                img {
                    width: 30%;
                    height: 30%;
                    padding: 10px;
                    margin: 10px;
                }
            }

            nav {
                ul {
                    font-size: medium;
                    gap: 1.25rem;
                }
            }
        }
    }
}


@media (min-width: 1024px) {
    header {
        div {
            div {
                img {
                    width: 25%;
                    height: 25%;
                    padding: 10px;
                    margin: 10px;
                }
            }

            nav {
                ul {
                    font-size: large;
                    gap: 1.25rem;
                }
            }
        }
    }
}