.header-background {
    background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
    background-size: cover;
    background-position: center;
}

header {
    div {
        div {
            img {
                width: 20%;
                height: 20%;
                padding: 10px;
                margin: 10px;
            }
        }
        nav{
            ul{
                font-size: smaller;
                gap: 10px;
                li{
                    &:hover{
                        background-color: map-get($map: $colors , $key:color2 );
                        border-radius: 1rem;
                        padding: .3125rem;
                    }
                }
            }
        }
    }
}