.contenedor-map-texto {
    border-radius: 20px;
    background-color: map-get($map: $colors, $key: color1);
    padding: 2rem;
    margin: 10px 65px 10px 65px;
}

.contenedor-formulario-texto {
    @extend .contenedor-map-texto
}


iframe {
    border-radius: 20px;
}


.contenedor-formulario {
    @include flex (column, center, center);

    button {
        background-color: map-get($map: $colors, $key: color2);
        border-radius: 15px;
        width: 75%;
        align-self: center;
        margin: 10px;
        &:hover {
            background-color: map-get($map: $colors, $key: color4);
        }
    }
}


@media(min-width:1024px) {

    .mapa-formulario {
        @include flex(row, space-evenly, flex-start);
    }

    .contenedor-map {
        @include flex(column, center, center);
        margin: 3px;
        width: 50%;
        margin: 20px 0px 20px 0px;
    }

    .contenedor-formulario {
        @extend .contenedor-map
    }

    form {
        width: 90%;
        margin-bottom: 40px;
    }

}