.galeria {
    @include grid-galeria (1fr 1fr 1fr, 2fr 2fr 2fr 2fr, center, center,
        "img1 img2 img3"
        "img4 img2 img5"
        "img6 img7 img8"
        "img9 img7 img10",
        10px, 5px, 50px);

    .img1 {
        grid-area: img1;
    }

    .img2 {
        grid-area: img2;
    }

    .img3 {
        grid-area: img3;
    }

    .img4 {
        grid-area: img4;
    }

    .img5 {
        grid-area: img5;
    }

    .img6 {
        grid-area: img6;
    }

    .img7 {
        grid-area: img7;
    }

    .img8 {
        grid-area: img8;
    }

    .img9 {
        grid-area: img9;
    }

    .img10 {
        grid-area: img10;
    }
}


.imagen-galeria {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}


@media(max-width:425px) {

    main {
        section {
            @include grid-galeria (1fr, 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr, center, center,
                "img2"
                "img1"
                "img3"
                "img4"
                "img5"
                "img6"
                "img7"
                "img8"
                "img9"
                "img10",
                10px, 5px, 50px);

            .img1 {
                grid-area: img1;
            }

            .img2 {
                grid-area: img2;
            }

            .img3 {
                grid-area: img3;
            }

            .img4 {
                grid-area: img4;
            }

            .img5 {
                grid-area: img5;
            }

            .img6 {
                grid-area: img6;
            }

            .img7 {
                grid-area: img7;
            }

            .img8 {
                grid-area: img8;
            }

            .img9 {
                grid-area: img9;
            }

            .img10 {
                grid-area: img10;
            }
        }
    }
}