aside section ul {
    list-style: none;
}

aside section ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: map-get($map: $colors, $key: color3);
}

aside {
    padding: 1rem;
    padding-top: 5rem;
    padding-right: 0;
    position: sticky;
    top: 0;
    height: 100vh;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    align-items: center;

}

.boton-menu.active {
    background-color: white;
    color: map-get($map: $colors, $key: color4);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: .5rem;
    box-shadow: 0 1rem 0 white;
}


.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 -1rem 0 white;

}

.div-boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: map-get($map: $colors, $key: color2);
    color: white;
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
}

.menu-shop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.productos-venta {
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    background-color: white;
    padding: 3rem;
}

.titulo-principal {
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: map-get($map: $colors, $key: color5);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-add {
    border: 0;
    background-color: white;
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.producto-add:hover {
    background-color: map-get($map: $colors, $key: color4);
    color: white;
}