@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    h1 {
        font-family: 'Dancing Script', cursive;
    }
    h2 {
        font-family: 'Dancing Script', cursive;
    }
}



